.GreenButton{
    width: 100px;
    margin: 0.2rem;
    padding: 0.2rem;
    border: none;
    border-radius: 0.3rem;
    display: flex;
    cursor: pointer;
    justify-content: center;
    background-color: rgb(95, 229, 95);
    font-weight: 700;
    box-shadow: .2rem .2rem 0.2rem #ccc,
        -.2rem -.2rem 0.2rem #fffefe;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
